{
    "openapi": "3.0.1",
    "info": {
      "title": "Akeneo PIM REST API",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "http://demo.akeneo.com/"
      }
    ],
    "paths": {
      "/api/rest/v1/products": {
        "get": {
          "tags": [
            "Product [identifier]"
          ],
          "summary": "Get list of products",
          "description": "This endpoint allows you to get a list of products. Products are paginated and they can be filtered. In the Enterprise Edition, since the 2.0, permissions based on your user groups are applied to the set of products you request.",
          "operationId": "get_products",
          "parameters": [
            {
              "name": "search",
              "in": "query",
              "description": "Filter products, for more details see the <a href=\"/documentation/filter.html\">Filters</a> section",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "scope",
              "in": "query",
              "description": "Filter product values to return scopable attributes for the given channel as well as the non localizable/non scopable attributes, for more details see the <a href=\"/documentation/filter.html#via-channel\">Filter product values via channel</a> section",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "locales",
              "in": "query",
              "description": "Filter product values to return localizable attributes for the given locales as well as the non localizable/non scopable attributes, for more details see the <a href=\"/documentation/filter.html#via-locale\">Filter product values via locale</a> section",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "attributes",
              "in": "query",
              "description": "Filter product values to only return those concerning the given attributes, for more details see the <a href=\"/documentation/filter.html#filter-product-values\">Filter on product values</a> section",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "pagination_type",
              "in": "query",
              "description": "Pagination method type, see <a href=\"/documentation/pagination.html\">Pagination</a> section",
              "schema": {
                "type": "string",
                "default": "page",
                "enum": [
                  "page",
                  "search_after"
                ],
                "x-validation-rules": "One of the following values"
              },
              "x-validation-rules": "One of the following values"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Number of the page to retrieve when using the `page` pagination method type. <strong>Should never be set manually</strong>, see <a href=\"/documentation/pagination.html#pagination\">Pagination</a> section",
              "schema": {
                "type": "integer",
                "default": 1
              }
            },
            {
              "name": "search_after",
              "in": "query",
              "description": "Cursor when using the `search_after` pagination method type. <strong>Should never be set manually</strong>, see <a href=\"/documentation/pagination.html\">Pagination</a> section",
              "schema": {
                "type": "string",
                "default": "cursor to the first page"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results by page, see <a href=\"/documentation/pagination.html\">Pagination</a> section",
              "schema": {
                "maximum": 100,
                "minimum": 1,
                "type": "integer",
                "default": 10
              }
            },
            {
              "name": "with_count",
              "in": "query",
              "description": "Return the count of items in the response. Be carefull with that, on a big catalog, it can decrease performance in a significative way",
              "schema": {
                "type": "boolean",
                "default": false
              }
            },
            {
              "name": "with_attribute_options",
              "in": "query",
              "description": "Return labels of attribute options in the response. (Only available since the 5.0 version)",
              "schema": {
                "type": "boolean",
                "default": false,
                "x-from-version": "5.0"
              },
              "x-from-version": "5.0"
            },
            {
              "name": "with_quality_scores",
              "in": "query",
              "description": "Return product quality scores in the response. (Only available since the 5.0 version)",
              "schema": {
                "type": "boolean",
                "default": false,
                "x-from-version": "5.0"
              },
              "x-from-version": "5.0"
            },
            {
              "name": "with_completenesses",
              "in": "query",
              "description": "Return product completenesses in the response. (Only available since the 6.0 version)",
              "schema": {
                "type": "boolean",
                "default": false,
                "x-from-version": "6.0"
              },
              "x-from-version": "6.0"
            }
          ],
          "responses": {
            "200": {
              "description": "Return products paginated",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Products",
                    "type": "object",
                    "properties": {
                      "_embedded": {
                        "type": "object",
                        "properties": {
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "allOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "_links": {
                                      "type": "object",
                                      "properties": {
                                        "self": {
                                          "type": "object",
                                          "properties": {
                                            "href": {
                                              "type": "string",
                                              "description": "URI of the resource"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                {
                                  "required": [
                                    "identifier"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "uuid": {
                                      "type": "string",
                                      "description": "Product UUID",
                                      "x-from-version": "7.0"
                                    },
                                    "identifier": {
                                      "type": "string",
                                      "description": "Product identifier, i.e. the value of the only `pim_catalog_identifier` attribute"
                                    },
                                    "enabled": {
                                      "type": "boolean",
                                      "description": "Whether the product is enabled",
                                      "default": true
                                    },
                                    "family": {
                                      "type": "string",
                                      "description": "<a href='api-reference.html#Family'>Family</a> code from which the product inherits its attributes and attributes requirements.",
                                      "default": "null only in the case of a non variant product",
                                      "x-validation-rules": "It is equal to an existing family code. In the case of variant product, the given family should be the same as the product model family."
                                    },
                                    "categories": {
                                      "type": "array",
                                      "description": "Codes of the <a href='api-reference.html#Category'>categories</a> in which the product is classified",
                                      "items": {
                                        "type": "string"
                                      },
                                      "x-validation-rules": "Each string of the array is equal to an existing category code"
                                    },
                                    "groups": {
                                      "type": "array",
                                      "description": "Codes of the groups to which the product belong",
                                      "items": {
                                        "type": "string"
                                      },
                                      "x-validation-rules": "Each string of the array is equal to an existing group code"
                                    },
                                    "parent": {
                                      "type": "string",
                                      "description": "Code of the parent <a href='api-reference.html#Productmodel'>product model</a> when the product is a variant (only available since the 2.0). This parent can be modified since the 2.3.",
                                      "default": "null",
                                      "x-validation-rules": "It is equal to an existing product model code only if the product is variant otherwise it's equal to null",
                                      "x-from-version": "2.0"
                                    },
                                    "values": {
                                      "type": "object",
                                      "additionalProperties": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "scope": {
                                              "type": "string",
                                              "description": "<a href='api-reference.html#Channel'>Channel</a> code of the product value"
                                            },
                                            "locale": {
                                              "type": "string",
                                              "description": "<a href='api-reference.html#Locale'>Locale</a> code of the product value"
                                            },
                                            "data": {
                                              "type": "object",
                                              "properties": {},
                                              "description": "Product value. See <a href='/concepts/products.html#the-data-format'>the `data` format</a> section for more details."
                                            },
                                            "linked_data": {
                                              "type": "object",
                                              "properties": {
                                                "attribute": {
                                                  "type": "string"
                                                },
                                                "code": {
                                                  "type": "string"
                                                },
                                                "labels": {
                                                  "type": "object",
                                                  "properties": {}
                                                }
                                              },
                                              "description": "Object containing labels of attribute options (only available since the 5.0 and when query parameter \"with_attribute_options\" is set to \"true\"). See <a href='/concepts/products.html#the-linked_data-format'>the `linked_data` format</a> section for more details.",
                                              "x-read-only": true,
                                              "x-from-version": "5.0"
                                            }
                                          }
                                        }
                                      },
                                      "description": "Product attributes values, see <a href='/concepts/products.html#focus-on-the-product-values'>Product values</a> section for more details",
                                      "x-validation-rules": "Validation rules detailed in Product values section"
                                    },
                                    "associations": {
                                      "type": "object",
                                      "properties": {
                                        "associationTypeCode": {
                                          "type": "object",
                                          "properties": {
                                            "groups": {
                                              "type": "array",
                                              "description": "Array of groups codes with which the product is in relation",
                                              "items": {
                                                "type": "string"
                                              }
                                            },
                                            "products": {
                                              "type": "array",
                                              "description": "Array of product identifiers with which the product is in relation",
                                              "items": {
                                                "type": "string"
                                              }
                                            },
                                            "product_models": {
                                              "type": "array",
                                              "description": "Array of product model codes with which the product is in relation (only available since the v2.1)",
                                              "items": {
                                                "type": "string"
                                              },
                                              "x-from-version": "2.1"
                                            }
                                          }
                                        }
                                      },
                                      "description": "Several associations related to groups, product models and/or other products, grouped by association types",
                                      "x-validation-rules": "&bull; The `associationTypeCode` is the code of an existing association type. &#10;&bull; Each string in the array of the property `groups` is the code of an existing group. &#10;&bull; Each string in the array of the property `products` is the identifier of an existing product. &#10;&bull; Each string in the array of the property `product_models` is the code of an existing product model."
                                    },
                                    "quantified_associations": {
                                      "type": "object",
                                      "properties": {
                                        "quantifiedAssociationTypeCode": {
                                          "type": "object",
                                          "properties": {
                                            "products": {
                                              "type": "array",
                                              "description": "Array of objects containing product identifiers and quantities with which the product is in relation",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "identifier": {
                                                    "type": "string"
                                                  },
                                                  "quantity": {
                                                    "type": "integer"
                                                  }
                                                }
                                              }
                                            },
                                            "product_models": {
                                              "type": "array",
                                              "description": "Array of objects containing product model codes and quantities with which the product is in relation",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "code": {
                                                    "type": "string"
                                                  },
                                                  "quantity": {
                                                    "type": "integer"
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "description": "Several quantified associations related to products and/or product models, grouped by quantified association types (only available since the 5.0)",
                                      "x-validation-rules": "&bull; The `quantifiedAssociationTypeCode` is the code of an existing association type which provides quantity information. &#10;&bull; Each object in the array of the property `products` contains the identifier of an existing product and the quantity of it.",
                                      "x-from-version": "5.0"
                                    },
                                    "created": {
                                      "type": "string",
                                      "description": "Date of creation",
                                      "format": "dateTime",
                                      "x-immutable": true,
                                      "x-read-only": true
                                    },
                                    "updated": {
                                      "type": "string",
                                      "description": "Date of the last update",
                                      "format": "dateTime",
                                      "x-read-only": true
                                    },
                                    "metadata": {
                                      "type": "object",
                                      "properties": {
                                        "workflow_status": {
                                          "type": "string",
                                          "description": "Status of the product regarding the user permissions",
                                          "enum": [
                                            "read_only",
                                            "draft_in_progress",
                                            "proposal_waiting_for_approval",
                                            "working_copy"
                                          ]
                                        }
                                      },
                                      "description": "More information around the product (only available since the v2.0 in the Enterprise Edition)",
                                      "x-immutable": true,
                                      "x-read-only": true,
                                      "x-from-version": "2.0"
                                    },
                                    "quality_scores": {
                                      "type": "object",
                                      "properties": {},
                                      "description": "Product quality scores for each channel/locale combination (only available since the 5.0 and when the \"with_quality_scores\" query parameter is set to \"true\")",
                                      "x-immutable": true,
                                      "x-read-only": true,
                                      "x-from-version": "5.0"
                                    },
                                    "completenesses": {
                                      "type": "array",
                                      "description": "Product completenesses for each channel/locale combination (only available since the 7.0 version, and when the \"with_completenesses\" query parameter is set to \"true\")",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "scope": {
                                            "type": "string"
                                          },
                                          "locale": {
                                            "type": "string"
                                          },
                                          "data": {
                                            "type": "integer"
                                          }
                                        }
                                      },
                                      "x-immutable": true,
                                      "x-read-only": true,
                                      "x-from-version": "7.0"
                                    }
                                  },
                                  "example": {
                                    "identifier": "top",
                                    "enabled": true,
                                    "family": "tshirt",
                                    "categories": [
                                      "summer_collection"
                                    ],
                                    "groups": [],
                                    "values": {
                                      "name": [
                                        {
                                          "data": "Top",
                                          "locale": "en_US"
                                        },
                                        {
                                          "data": "Débardeur",
                                          "locale": "fr_FR"
                                        }
                                      ],
                                      "description": [
                                        {
                                          "data": "Summer top",
                                          "locale": "en_US",
                                          "scope": "ecommerce"
                                        },
                                        {
                                          "data": "Top",
                                          "locale": "en_US",
                                          "scope": "tablet"
                                        },
                                        {
                                          "data": "Débardeur pour l'été",
                                          "locale": "fr_FR",
                                          "scope": "ecommerce"
                                        },
                                        {
                                          "data": "Débardeur",
                                          "locale": "fr_FR",
                                          "scope": "tablet"
                                        }
                                      ],
                                      "price": [
                                        {
                                          "data": [
                                            {
                                              "amount": "15.5",
                                              "currency": "EUR"
                                            },
                                            {
                                              "amount": "15",
                                              "currency": "USD"
                                            }
                                          ]
                                        }
                                      ],
                                      "color": [
                                        {
                                          "data": "black",
                                          "linked_data": {
                                            "attribute": "color",
                                            "code": "black",
                                            "labels": {
                                              "en_US": "Black",
                                              "fr_FR": "Noir"
                                            }
                                          }
                                        }
                                      ],
                                      "size": [
                                        {
                                          "data": "m",
                                          "linked_data": {
                                            "attribute": "size",
                                            "code": "m",
                                            "labels": {
                                              "en_US": "M",
                                              "fr_FR": "M"
                                            }
                                          }
                                        }
                                      ],
                                      "collection": [
                                        {
                                          "data": [
                                            "winter_2016"
                                          ],
                                          "linked_data": {
                                            "winter_2016": {
                                              "attribute": "collection",
                                              "code": "winter_2016",
                                              "labels": {
                                                "en_US": "Winter 2016",
                                                "fr_FR": "Hiver 2016"
                                              }
                                            }
                                          }
                                        }
                                      ]
                                    },
                                    "created": "2016-06-23T18:24:44+02:00",
                                    "updated": "2016-06-25T17:56:12+02:00",
                                    "associations": {
                                      "PACK": {
                                        "products": [
                                          "sunglass"
                                        ],
                                        "product_models": [],
                                        "groups": []
                                      }
                                    },
                                    "quantified_associations": {
                                      "PRODUCT_SET": {
                                        "products": [
                                          {
                                            "identifier": "cap",
                                            "quantity": 2
                                          },
                                          {
                                            "identifier": "shoes",
                                            "quantity": 1
                                          }
                                        ],
                                        "product_models": [
                                          {
                                            "identifier": "model-biker-jacket-leather",
                                            "quantity": 2
                                          }
                                        ]
                                      }
                                    },
                                    "quality_scores": [
                                      {
                                        "scope": "ecommerce",
                                        "locale": "en_US",
                                        "data": "A"
                                      },
                                      {
                                        "scope": "ecommerce",
                                        "locale": "fr_FR",
                                        "data": "B"
                                      },
                                      {
                                        "scope": "tablet",
                                        "locale": "en_US",
                                        "data": "D"
                                      },
                                      {
                                        "scope": "tablet",
                                        "locale": "fr_FR",
                                        "data": "E"
                                      }
                                    ],
                                    "completenesses": [
                                      {
                                        "scope": "ecommerce",
                                        "locale": "en_US",
                                        "data": 10
                                      },
                                      {
                                        "scope": "ecommerce",
                                        "locale": "fr_FR",
                                        "data": 20
                                      },
                                      {
                                        "scope": "tablet",
                                        "locale": "en_US",
                                        "data": 30
                                      },
                                      {
                                        "scope": "tablet",
                                        "locale": "fr_FR",
                                        "data": 40
                                      }
                                    ]
                                  }
                                }
                              ]
                            }
                          }
                        }
                      },
                      "_links": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "URI of the current page of resources"
                              }
                            }
                          },
                          "first": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "URI of the first page of resources"
                              }
                            }
                          },
                          "previous": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "URI of the previous page of resources"
                              }
                            }
                          },
                          "next": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "URI of the next page of resources"
                              }
                            }
                          }
                        }
                      },
                      "current_page": {
                        "type": "integer",
                        "description": "Current page number"
                      }
                    }
                  }
                }
              },
              "x-examples-per-version": [
                {
                  "x-version": "1.7",
                  "x-example": {
                    "_links": {
                      "self": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=3&limit=3"
                      },
                      "first": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=1&limit=3"
                      },
                      "previous": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=2&limit=3"
                      },
                      "next": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=4&limit=3"
                      }
                    },
                    "current_page": 3,
                    "_embedded": {
                      "items": [
                        {
                          "_links": {
                            "self": {
                              "href": "https://demo.akeneo.com/api/rest/v1/product/top"
                            }
                          },
                          "identifier": "top",
                          "family": "tshirt",
                          "groups": [],
                          "categories": [
                            "summer_collection"
                          ],
                          "enabled": true,
                          "values": {
                            "name": [
                              {
                                "data": "Top",
                                "locale": "en_US"
                              },
                              {
                                "data": "Débardeur",
                                "locale": "fr_FR"
                              }
                            ],
                            "description": [
                              {
                                "data": "Summer top",
                                "locale": "en_US",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Top",
                                "locale": "en_US",
                                "scope": "tablet"
                              },
                              {
                                "data": "Débardeur pour l'été",
                                "locale": "fr_FR",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Débardeur",
                                "locale": "fr_FR",
                                "scope": "tablet"
                              }
                            ],
                            "price": [
                              {
                                "data": [
                                  {
                                    "amount": "15.5",
                                    "currency": "EUR"
                                  },
                                  {
                                    "amount": "15",
                                    "currency": "USD"
                                  }
                                ]
                              }
                            ],
                            "color": [
                              {
                                "data": "black"
                              }
                            ],
                            "size": [
                              {
                                "data": "m"
                              }
                            ],
                            "collection": [
                              {
                                "data": [
                                  "winter_2016"
                                ]
                              }
                            ]
                          },
                          "created": "2016-06-23T18:24:44+02:00",
                          "updated": "2016-06-25T17:56:12+02:00",
                          "associations": {
                            "PACK": {
                              "products": [
                                "sunglasses"
                              ],
                              "groups": []
                            }
                          },
                          "quantified_associations": {
                            "PRODUCT_SET": {
                              "products": [
                                {
                                  "identifier": "cap",
                                  "quantity": 2
                                },
                                {
                                  "identifier": "shoes",
                                  "quantity": 1
                                }
                              ]
                            }
                          }
                        },
                        {
                          "_links": {
                            "self": {
                              "href": "https://demo.akeneo.com/api/rest/v1/product/cap"
                            }
                          },
                          "identifier": "cap",
                          "family": "caps",
                          "groups": [],
                          "categories": [
                            "summer_collection"
                          ],
                          "enabled": true,
                          "values": {
                            "name": [
                              {
                                "data": "Cap",
                                "locale": "en_US"
                              },
                              {
                                "data": "Casquette",
                                "locale": "fr_FR"
                              }
                            ],
                            "description": [
                              {
                                "data": "Cap unisex",
                                "locale": "en_US",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Cap unisex",
                                "locale": "en_US",
                                "scope": "tablet"
                              },
                              {
                                "data": "Casquette unisexe",
                                "locale": "fr_FR",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Casquette unisexe",
                                "locale": "fr_FR",
                                "scope": "tablet"
                              }
                            ],
                            "price": [
                              {
                                "data": [
                                  {
                                    "amount": "20",
                                    "currency": "EUR"
                                  },
                                  {
                                    "amount": "20",
                                    "currency": "USD"
                                  }
                                ]
                              }
                            ],
                            "color": [
                              {
                                "data": "black"
                              }
                            ]
                          },
                          "created": "2016-06-23T18:24:44+02:00",
                          "updated": "2016-06-25T17:56:12+02:00",
                          "associations": {
                            "PACK": {
                              "products": [
                                "sunglasses"
                              ],
                              "groups": []
                            }
                          },
                          "quantified_associations": {}
                        },
                        {
                          "_links": {
                            "self": {
                              "href": "https://demo.akeneo.com/api/rest/v1/product/sweat"
                            }
                          },
                          "identifier": "sweat",
                          "groups": [],
                          "categories": [
                            "winter_collection"
                          ],
                          "enabled": true,
                          "values": {},
                          "created": "2016-06-23T11:24:44+02:00",
                          "updated": "2016-06-23T11:24:44+02:00",
                          "associations": {},
                          "quantified_associations": {}
                        }
                      ]
                    }
                  }
                },
                {
                  "x-version": "2.0",
                  "x-example": {
                    "_links": {
                      "self": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=3&limit=3"
                      },
                      "first": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=1&limit=3"
                      },
                      "previous": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=2&limit=3"
                      },
                      "next": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=4&limit=3"
                      }
                    },
                    "current_page": 3,
                    "_embedded": {
                      "items": [
                        {
                          "_links": {
                            "self": {
                              "href": "https://demo.akeneo.com/api/rest/v1/product/top"
                            }
                          },
                          "identifier": "top",
                          "family": "tshirt",
                          "groups": [],
                          "categories": [
                            "summer_collection"
                          ],
                          "enabled": true,
                          "values": {
                            "name": [
                              {
                                "data": "Top",
                                "locale": "en_US"
                              },
                              {
                                "data": "Débardeur",
                                "locale": "fr_FR"
                              }
                            ],
                            "description": [
                              {
                                "data": "Summer top",
                                "locale": "en_US",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Top",
                                "locale": "en_US",
                                "scope": "tablet"
                              },
                              {
                                "data": "Débardeur pour l'été",
                                "locale": "fr_FR",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Débardeur",
                                "locale": "fr_FR",
                                "scope": "tablet"
                              }
                            ],
                            "price": [
                              {
                                "data": [
                                  {
                                    "amount": "15.5",
                                    "currency": "EUR"
                                  },
                                  {
                                    "amount": "15",
                                    "currency": "USD"
                                  }
                                ]
                              }
                            ],
                            "color": [
                              {
                                "data": "black"
                              }
                            ],
                            "size": [
                              {
                                "data": "m"
                              }
                            ],
                            "collection": [
                              {
                                "data": [
                                  "winter_2016"
                                ]
                              }
                            ]
                          },
                          "created": "2016-06-23T18:24:44+02:00",
                          "updated": "2016-06-25T17:56:12+02:00",
                          "associations": {
                            "PACK": {
                              "products": [
                                "sunglasses"
                              ],
                              "groups": []
                            }
                          },
                          "quantified_associations": {
                            "PRODUCT_SET": {
                              "products": [
                                {
                                  "identifier": "cap",
                                  "quantity": 2
                                },
                                {
                                  "identifier": "shoes",
                                  "quantity": 1
                                }
                              ]
                            }
                          }
                        },
                        {
                          "_links": {
                            "self": {
                              "href": "https://demo.akeneo.com/api/rest/v1/product/cap"
                            }
                          },
                          "identifier": "cap",
                          "family": "caps",
                          "groups": [],
                          "categories": [
                            "summer_collection"
                          ],
                          "enabled": true,
                          "values": {
                            "name": [
                              {
                                "data": "Cap",
                                "locale": "en_US"
                              },
                              {
                                "data": "Casquette",
                                "locale": "fr_FR"
                              }
                            ],
                            "description": [
                              {
                                "data": "Cap unisex",
                                "locale": "en_US",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Cap unisex",
                                "locale": "en_US",
                                "scope": "tablet"
                              },
                              {
                                "data": "Casquette unisexe",
                                "locale": "fr_FR",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Casquette unisexe",
                                "locale": "fr_FR",
                                "scope": "tablet"
                              }
                            ],
                            "price": [
                              {
                                "data": [
                                  {
                                    "amount": "20",
                                    "currency": "EUR"
                                  },
                                  {
                                    "amount": "20",
                                    "currency": "USD"
                                  }
                                ]
                              }
                            ],
                            "color": [
                              {
                                "data": "black"
                              }
                            ]
                          },
                          "created": "2016-06-23T18:24:44+02:00",
                          "updated": "2016-06-25T17:56:12+02:00",
                          "associations": {
                            "PACK": {
                              "products": [
                                "sunglasses"
                              ],
                              "groups": []
                            }
                          },
                          "quantified_associations": {}
                        },
                        {
                          "_links": {
                            "self": {
                              "href": "https://demo.akeneo.com/api/rest/v1/product/sweat"
                            }
                          },
                          "identifier": "sweat",
                          "groups": [],
                          "categories": [
                            "winter_collection"
                          ],
                          "enabled": true,
                          "values": {},
                          "created": "2016-06-23T11:24:44+02:00",
                          "updated": "2016-06-23T11:24:44+02:00",
                          "associations": {},
                          "quantified_associations": {}
                        }
                      ]
                    }
                  }
                },
                {
                  "x-version": "2.1",
                  "x-example": {
                    "_links": {
                      "self": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=3&limit=3"
                      },
                      "first": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=1&limit=3"
                      },
                      "previous": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=2&limit=3"
                      },
                      "next": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=4&limit=3"
                      }
                    },
                    "current_page": 3,
                    "_embedded": {
                      "items": [
                        {
                          "_links": {
                            "self": {
                              "href": "https://demo.akeneo.com/api/rest/v1/product/top"
                            }
                          },
                          "identifier": "top",
                          "family": "tshirt",
                          "groups": [],
                          "categories": [
                            "summer_collection"
                          ],
                          "enabled": true,
                          "values": {
                            "name": [
                              {
                                "data": "Top",
                                "locale": "en_US"
                              },
                              {
                                "data": "Débardeur",
                                "locale": "fr_FR"
                              }
                            ],
                            "description": [
                              {
                                "data": "Summer top",
                                "locale": "en_US",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Top",
                                "locale": "en_US",
                                "scope": "tablet"
                              },
                              {
                                "data": "Débardeur pour l'été",
                                "locale": "fr_FR",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Débardeur",
                                "locale": "fr_FR",
                                "scope": "tablet"
                              }
                            ],
                            "price": [
                              {
                                "data": [
                                  {
                                    "amount": "15.5",
                                    "currency": "EUR"
                                  },
                                  {
                                    "amount": "15",
                                    "currency": "USD"
                                  }
                                ]
                              }
                            ],
                            "color": [
                              {
                                "data": "black"
                              }
                            ],
                            "size": [
                              {
                                "data": "m"
                              }
                            ],
                            "collection": [
                              {
                                "data": [
                                  "winter_2016"
                                ]
                              }
                            ]
                          },
                          "created": "2016-06-23T18:24:44+02:00",
                          "updated": "2016-06-25T17:56:12+02:00",
                          "associations": {
                            "PACK": {
                              "products": [
                                "sunglasses"
                              ],
                              "product_models": [],
                              "groups": []
                            }
                          },
                          "quantified_associations": {
                            "PRODUCT_SET": {
                              "products": [
                                {
                                  "identifier": "cap",
                                  "quantity": 2
                                },
                                {
                                  "identifier": "shoes",
                                  "quantity": 1
                                }
                              ],
                              "product_models": [
                                {
                                  "identifier": "model-biker-jacket-leather",
                                  "quantity": 2
                                }
                              ]
                            }
                          }
                        },
                        {
                          "_links": {
                            "self": {
                              "href": "https://demo.akeneo.com/api/rest/v1/product/cap"
                            }
                          },
                          "identifier": "cap",
                          "family": "caps",
                          "groups": [],
                          "categories": [
                            "summer_collection"
                          ],
                          "enabled": true,
                          "values": {
                            "name": [
                              {
                                "data": "Cap",
                                "locale": "en_US"
                              },
                              {
                                "data": "Casquette",
                                "locale": "fr_FR"
                              }
                            ],
                            "description": [
                              {
                                "data": "Cap unisex",
                                "locale": "en_US",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Cap unisex",
                                "locale": "en_US",
                                "scope": "tablet"
                              },
                              {
                                "data": "Casquette unisexe",
                                "locale": "fr_FR",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Casquette unisexe",
                                "locale": "fr_FR",
                                "scope": "tablet"
                              }
                            ],
                            "price": [
                              {
                                "data": [
                                  {
                                    "amount": "20",
                                    "currency": "EUR"
                                  },
                                  {
                                    "amount": "20",
                                    "currency": "USD"
                                  }
                                ]
                              }
                            ],
                            "color": [
                              {
                                "data": "black"
                              }
                            ]
                          },
                          "created": "2016-06-23T18:24:44+02:00",
                          "updated": "2016-06-25T17:56:12+02:00",
                          "associations": {
                            "PACK": {
                              "products": [
                                "sunglasses"
                              ],
                              "product_models": [],
                              "groups": []
                            }
                          },
                          "quantified_associations": {}
                        },
                        {
                          "_links": {
                            "self": {
                              "href": "https://demo.akeneo.com/api/rest/v1/product/sweat"
                            }
                          },
                          "identifier": "sweat",
                          "groups": [],
                          "categories": [
                            "winter_collection"
                          ],
                          "enabled": true,
                          "values": {},
                          "created": "2016-06-23T11:24:44+02:00",
                          "updated": "2016-06-23T11:24:44+02:00",
                          "associations": {},
                          "quantified_associations": {}
                        }
                      ]
                    }
                  }
                },
                {
                  "x-version": "5.0",
                  "x-example": {
                    "_links": {
                      "self": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=3&limit=3&with_quality_scores=true&with_attribute_options=true"
                      },
                      "first": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=1&limit=3&with_quality_scores=true&with_attribute_options=true"
                      },
                      "previous": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=2&limit=3&with_quality_scores=true&with_attribute_options=true"
                      },
                      "next": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=4&limit=3&with_quality_scores=true&with_attribute_options=true"
                      }
                    },
                    "current_page": 3,
                    "_embedded": {
                      "items": [
                        {
                          "_links": {
                            "self": {
                              "href": "https://demo.akeneo.com/api/rest/v1/product/top"
                            }
                          },
                          "identifier": "top",
                          "family": "tshirt",
                          "groups": [],
                          "categories": [
                            "summer_collection"
                          ],
                          "enabled": true,
                          "values": {
                            "name": [
                              {
                                "data": "Top",
                                "locale": "en_US"
                              },
                              {
                                "data": "Débardeur",
                                "locale": "fr_FR"
                              }
                            ],
                            "description": [
                              {
                                "data": "Summer top",
                                "locale": "en_US",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Top",
                                "locale": "en_US",
                                "scope": "tablet"
                              },
                              {
                                "data": "Débardeur pour l'été",
                                "locale": "fr_FR",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Débardeur",
                                "locale": "fr_FR",
                                "scope": "tablet"
                              }
                            ],
                            "price": [
                              {
                                "data": [
                                  {
                                    "amount": "15.5",
                                    "currency": "EUR"
                                  },
                                  {
                                    "amount": "15",
                                    "currency": "USD"
                                  }
                                ]
                              }
                            ],
                            "color": [
                              {
                                "data": "black",
                                "linked_data": {
                                  "attribute": "color",
                                  "code": "black",
                                  "labels": {
                                    "en_US": "Black",
                                    "fr_FR": "Noir"
                                  }
                                }
                              }
                            ],
                            "size": [
                              {
                                "data": "m",
                                "linked_data": {
                                  "attribute": "size",
                                  "code": "m",
                                  "labels": {
                                    "en_US": "M",
                                    "fr_FR": "M"
                                  }
                                }
                              }
                            ],
                            "collection": [
                              {
                                "data": [
                                  "winter_2016"
                                ],
                                "linked_data": {
                                  "winter_2016": {
                                    "attribute": "collection",
                                    "code": "winter_2016",
                                    "labels": {
                                      "en_US": "Winter 2016",
                                      "fr_FR": "Hiver 2016"
                                    }
                                  }
                                }
                              }
                            ]
                          },
                          "created": "2016-06-23T18:24:44+02:00",
                          "updated": "2016-06-25T17:56:12+02:00",
                          "associations": {
                            "PACK": {
                              "products": [
                                "sunglasses"
                              ],
                              "product_models": [],
                              "groups": []
                            }
                          },
                          "quantified_associations": {
                            "PRODUCT_SET": {
                              "products": [
                                {
                                  "identifier": "cap",
                                  "quantity": 2
                                },
                                {
                                  "identifier": "shoes",
                                  "quantity": 1
                                }
                              ],
                              "product_models": [
                                {
                                  "identifier": "model-biker-jacket-leather",
                                  "quantity": 2
                                }
                              ]
                            }
                          },
                          "quality_scores": [
                            {
                              "scope": "ecommerce",
                              "locale": "en_US",
                              "data": "A"
                            },
                            {
                              "scope": "ecommerce",
                              "locale": "fr_FR",
                              "data": "B"
                            },
                            {
                              "scope": "tablet",
                              "locale": "en_US",
                              "data": "D"
                            },
                            {
                              "scope": "tablet",
                              "locale": "fr_FR",
                              "data": "E"
                            }
                          ]
                        },
                        {
                          "_links": {
                            "self": {
                              "href": "https://demo.akeneo.com/api/rest/v1/product/cap"
                            }
                          },
                          "identifier": "cap",
                          "family": "caps",
                          "groups": [],
                          "categories": [
                            "summer_collection"
                          ],
                          "enabled": true,
                          "values": {
                            "name": [
                              {
                                "data": "Cap",
                                "locale": "en_US"
                              },
                              {
                                "data": "Casquette",
                                "locale": "fr_FR"
                              }
                            ],
                            "description": [
                              {
                                "data": "Cap unisex",
                                "locale": "en_US",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Cap unisex",
                                "locale": "en_US",
                                "scope": "tablet"
                              },
                              {
                                "data": "Casquette unisexe",
                                "locale": "fr_FR",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Casquette unisexe",
                                "locale": "fr_FR",
                                "scope": "tablet"
                              }
                            ],
                            "price": [
                              {
                                "data": [
                                  {
                                    "amount": "20",
                                    "currency": "EUR"
                                  },
                                  {
                                    "amount": "20",
                                    "currency": "USD"
                                  }
                                ]
                              }
                            ],
                            "color": [
                              {
                                "data": "black",
                                "linked_data": {
                                  "attribute": "color",
                                  "code": "black",
                                  "labels": {
                                    "en_US": "Black",
                                    "fr_FR": "Noir"
                                  }
                                }
                              }
                            ]
                          },
                          "created": "2016-06-23T18:24:44+02:00",
                          "updated": "2016-06-25T17:56:12+02:00",
                          "associations": {
                            "PACK": {
                              "products": [
                                "sunglasses"
                              ],
                              "product_models": [],
                              "groups": []
                            }
                          },
                          "quantified_associations": {},
                          "quality_scores": [
                            {
                              "scope": "ecommerce",
                              "locale": "en_US",
                              "data": "A"
                            },
                            {
                              "scope": "ecommerce",
                              "locale": "fr_FR",
                              "data": "B"
                            },
                            {
                              "scope": "tablet",
                              "locale": "en_US",
                              "data": "D"
                            },
                            {
                              "scope": "tablet",
                              "locale": "fr_FR",
                              "data": "E"
                            }
                          ]
                        },
                        {
                          "_links": {
                            "self": {
                              "href": "https://demo.akeneo.com/api/rest/v1/product/sweat"
                            }
                          },
                          "identifier": "sweat",
                          "groups": [],
                          "categories": [
                            "winter_collection"
                          ],
                          "enabled": true,
                          "values": {},
                          "created": "2016-06-23T11:24:44+02:00",
                          "updated": "2016-06-23T11:24:44+02:00",
                          "associations": {},
                          "quantified_associations": {},
                          "quality_scores": {}
                        }
                      ]
                    }
                  }
                },
                {
                  "x-version": "SaaS",
                  "x-example": {
                    "_links": {
                      "self": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=3&limit=3&with_quality_scores=true&with_completenesses=true&with_attribute_options=true"
                      },
                      "first": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=1&limit=3&with_quality_scores=true&with_completenesses=true&with_attribute_options=true"
                      },
                      "previous": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=2&limit=3&with_quality_scores=true&with_completenesses=true&with_attribute_options=true"
                      },
                      "next": {
                        "href": "https://demo.akeneo.com/api/rest/v1/products?page=4&limit=3&with_quality_scores=true&with_completenesses=true&with_attribute_options=true"
                      }
                    },
                    "current_page": 3,
                    "_embedded": {
                      "items": [
                        {
                          "_links": {
                            "self": {
                              "href": "https://demo.akeneo.com/api/rest/v1/product/top"
                            }
                          },
                          "uuid": "aaf518b2-f91e-40f1-a53a-78ce5e81a6f9",
                          "identifier": "top",
                          "family": "tshirt",
                          "groups": [],
                          "categories": [
                            "summer_collection"
                          ],
                          "enabled": true,
                          "values": {
                            "name": [
                              {
                                "data": "Top",
                                "locale": "en_US"
                              },
                              {
                                "data": "Débardeur",
                                "locale": "fr_FR"
                              }
                            ],
                            "description": [
                              {
                                "data": "Summer top",
                                "locale": "en_US",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Top",
                                "locale": "en_US",
                                "scope": "tablet"
                              },
                              {
                                "data": "Débardeur pour l'été",
                                "locale": "fr_FR",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Débardeur",
                                "locale": "fr_FR",
                                "scope": "tablet"
                              }
                            ],
                            "price": [
                              {
                                "data": [
                                  {
                                    "amount": "15.5",
                                    "currency": "EUR"
                                  },
                                  {
                                    "amount": "15",
                                    "currency": "USD"
                                  }
                                ]
                              }
                            ],
                            "color": [
                              {
                                "data": "black",
                                "linked_data": {
                                  "attribute": "color",
                                  "code": "black",
                                  "labels": {
                                    "en_US": "Black",
                                    "fr_FR": "Noir"
                                  }
                                }
                              }
                            ],
                            "size": [
                              {
                                "data": "m",
                                "linked_data": {
                                  "attribute": "size",
                                  "code": "m",
                                  "labels": {
                                    "en_US": "M",
                                    "fr_FR": "M"
                                  }
                                }
                              }
                            ],
                            "collection": [
                              {
                                "data": [
                                  "winter_2016"
                                ],
                                "linked_data": {
                                  "winter_2016": {
                                    "attribute": "collection",
                                    "code": "winter_2016",
                                    "labels": {
                                      "en_US": "Winter 2016",
                                      "fr_FR": "Hiver 2016"
                                    }
                                  }
                                }
                              }
                            ]
                          },
                          "created": "2016-06-23T18:24:44+02:00",
                          "updated": "2016-06-25T17:56:12+02:00",
                          "associations": {
                            "PACK": {
                              "products": [
                                "sunglasses"
                              ],
                              "product_models": [],
                              "groups": []
                            }
                          },
                          "quantified_associations": {
                            "PRODUCT_SET": {
                              "products": [
                                {
                                  "identifier": "cap",
                                  "quantity": 2
                                },
                                {
                                  "identifier": "shoes",
                                  "quantity": 1
                                }
                              ],
                              "product_models": [
                                {
                                  "identifier": "model-biker-jacket-leather",
                                  "quantity": 2
                                }
                              ]
                            }
                          },
                          "quality_scores": [
                            {
                              "scope": "ecommerce",
                              "locale": "en_US",
                              "data": "A"
                            },
                            {
                              "scope": "ecommerce",
                              "locale": "fr_FR",
                              "data": "B"
                            },
                            {
                              "scope": "tablet",
                              "locale": "en_US",
                              "data": "D"
                            },
                            {
                              "scope": "tablet",
                              "locale": "fr_FR",
                              "data": "E"
                            }
                          ],
                          "completenesses": [
                            {
                              "scope": "ecommerce",
                              "locale": "en_US",
                              "data": 20
                            },
                            {
                              "scope": "ecommerce",
                              "locale": "fr_FR",
                              "data": 30
                            },
                            {
                              "scope": "tablet",
                              "locale": "en_US",
                              "data": 55
                            },
                            {
                              "scope": "tablet",
                              "locale": "fr_FR",
                              "data": 70
                            }
                          ]
                        },
                        {
                          "_links": {
                            "self": {
                              "href": "https://demo.akeneo.com/api/rest/v1/product/cap"
                            }
                          },
                          "uuid": "aec6780b-c813-4bd7-8e24-1a8574471576",
                          "identifier": "cap",
                          "family": "caps",
                          "groups": [],
                          "categories": [
                            "summer_collection"
                          ],
                          "enabled": true,
                          "values": {
                            "name": [
                              {
                                "data": "Cap",
                                "locale": "en_US"
                              },
                              {
                                "data": "Casquette",
                                "locale": "fr_FR"
                              }
                            ],
                            "description": [
                              {
                                "data": "Cap unisex",
                                "locale": "en_US",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Cap unisex",
                                "locale": "en_US",
                                "scope": "tablet"
                              },
                              {
                                "data": "Casquette unisexe",
                                "locale": "fr_FR",
                                "scope": "ecommerce"
                              },
                              {
                                "data": "Casquette unisexe",
                                "locale": "fr_FR",
                                "scope": "tablet"
                              }
                            ],
                            "price": [
                              {
                                "data": [
                                  {
                                    "amount": "20",
                                    "currency": "EUR"
                                  },
                                  {
                                    "amount": "20",
                                    "currency": "USD"
                                  }
                                ]
                              }
                            ],
                            "color": [
                              {
                                "data": "black",
                                "linked_data": {
                                  "attribute": "color",
                                  "code": "black",
                                  "labels": {
                                    "en_US": "Black",
                                    "fr_FR": "Noir"
                                  }
                                }
                              }
                            ]
                          },
                          "created": "2016-06-23T18:24:44+02:00",
                          "updated": "2016-06-25T17:56:12+02:00",
                          "associations": {
                            "PACK": {
                              "products": [
                                "sunglasses"
                              ],
                              "product_models": [],
                              "groups": []
                            }
                          },
                          "quantified_associations": {},
                          "quality_scores": [
                            {
                              "scope": "ecommerce",
                              "locale": "en_US",
                              "data": "A"
                            },
                            {
                              "scope": "ecommerce",
                              "locale": "fr_FR",
                              "data": "B"
                            },
                            {
                              "scope": "tablet",
                              "locale": "en_US",
                              "data": "D"
                            },
                            {
                              "scope": "tablet",
                              "locale": "fr_FR",
                              "data": "E"
                            }
                          ],
                          "completenesses": [
                            {
                              "scope": "ecommerce",
                              "locale": "en_US",
                              "data": 20
                            },
                            {
                              "scope": "ecommerce",
                              "locale": "fr_FR",
                              "data": 30
                            },
                            {
                              "scope": "tablet",
                              "locale": "en_US",
                              "data": 55
                            },
                            {
                              "scope": "tablet",
                              "locale": "fr_FR",
                              "data": 70
                            }
                          ]
                        },
                        {
                          "_links": {
                            "self": {
                              "href": "https://demo.akeneo.com/api/rest/v1/product/sweat"
                            }
                          },
                          "uuid": "93f14b03-5ed3-4f23-87c6-ae3806041b6a",
                          "identifier": "sweat",
                          "groups": [],
                          "categories": [
                            "winter_collection"
                          ],
                          "enabled": true,
                          "values": {},
                          "created": "2016-06-23T11:24:44+02:00",
                          "updated": "2016-06-23T11:24:44+02:00",
                          "associations": {},
                          "quantified_associations": {},
                          "quality_scores": {},
                          "completenesses": []
                        }
                      ]
                    }
                  }
                }
              ]
            },
            "401": {
              "description": "Authentication required",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "description": "HTTP status code"
                      },
                      "message": {
                        "type": "string",
                        "description": "Message explaining the error"
                      }
                    }
                  }
                },
                "code": {
                  "example": 401
                },
                "message": {
                  "example": "Authentication is required"
                }
              },
              "x-details": "Can be caused by a missing or expired token"
            },
            "403": {
              "description": "Access forbidden",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "description": "HTTP status code"
                      },
                      "message": {
                        "type": "string",
                        "description": "Message explaining the error"
                      }
                    }
                  }
                },
                "code": {
                  "example": 403
                },
                "message": {
                  "example": "Access forbidden. You are not allowed to list categories."
                }
              },
              "x-details": "The user does not have the permission to execute this request"
            },
            "406": {
              "description": "Not Acceptable",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "description": "HTTP status code"
                      },
                      "message": {
                        "type": "string",
                        "description": "Message explaining the error"
                      }
                    }
                  }
                },
                "code": {
                  "example": 406
                },
                "message": {
                  "example": "`xxx’ in `Accept` header is not valid. Only `application/json` is allowed."
                }
              },
              "x-details": "The `Accept` header is not `application/json` but it should"
            },
            "422": {
              "description": "Unprocessable entity",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "description": "HTTP status code"
                      },
                      "message": {
                        "type": "string",
                        "description": "Message explaining the error"
                      }
                    }
                  }
                },
                "code": {
                  "example": 422
                },
                "message": {
                  "example": "Property \"labels\" expects an array as data, \"NULL\" given. Check the API reference documentation."
                },
                "_links": {
                  "example": {
                    "documentation": {
                      "href": "http://api.akeneo.com/api-reference.html"
                    }
                  }
                }
              },
              "x-details": "The validation of the entity given in the body of the request failed"
            }
          },
          "x-versions": [
            "1.7",
            "2.x",
            "3.x",
            "4.0",
            "5.0",
            "6.0",
            "7.0",
            "SaaS"
          ]
        },
        "post": {
          "tags": [
            "Product [identifier]"
          ],
          "summary": "Create a new product",
          "description": "This endpoint allows you to create a new product. In the Enterprise Edition, since the v2.0, permissions based on your user groups are applied to the product you try to create.",
          "operationId": "post_products",
          "requestBody": {
            "content": {
              "*/*": {
                "schema": {
                  "required": [
                    "identifier"
                  ],
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "description": "Product UUID",
                      "x-from-version": "7.0"
                    },
                    "identifier": {
                      "type": "string",
                      "description": "Product identifier, i.e. the value of the only `pim_catalog_identifier` attribute"
                    },
                    "enabled": {
                      "type": "boolean",
                      "description": "Whether the product is enabled",
                      "default": true
                    },
                    "family": {
                      "type": "string",
                      "description": "<a href='api-reference.html#Family'>Family</a> code from which the product inherits its attributes and attributes requirements.",
                      "default": "null only in the case of a non variant product",
                      "x-validation-rules": "It is equal to an existing family code. In the case of variant product, the given family should be the same as the product model family."
                    },
                    "categories": {
                      "type": "array",
                      "description": "Codes of the <a href='api-reference.html#Category'>categories</a> in which the product is classified",
                      "items": {
                        "type": "string"
                      },
                      "x-validation-rules": "Each string of the array is equal to an existing category code"
                    },
                    "groups": {
                      "type": "array",
                      "description": "Codes of the groups to which the product belong",
                      "items": {
                        "type": "string"
                      },
                      "x-validation-rules": "Each string of the array is equal to an existing group code"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Code of the parent <a href='api-reference.html#Productmodel'>product model</a> when the product is a variant (only available since the 2.0). This parent can be modified since the 2.3.",
                      "default": "null",
                      "x-validation-rules": "It is equal to an existing product model code only if the product is variant otherwise it's equal to null",
                      "x-from-version": "2.0"
                    },
                    "values": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "scope": {
                              "type": "string",
                              "description": "<a href='api-reference.html#Channel'>Channel</a> code of the product value"
                            },
                            "locale": {
                              "type": "string",
                              "description": "<a href='api-reference.html#Locale'>Locale</a> code of the product value"
                            },
                            "data": {
                              "type": "object",
                              "properties": {},
[...]
